<div class="container">
  <form class="needs-validation" novalidate method="POST" action="index.php?controller=security&action=testLogin" enctype="multipart/form-data">

    <div class="col-md-10 mb-1">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="">
    </div>

    <div class="col-md-10 mb-1">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" name="password" value="">
    </div>
  
    <button class="btn btn-success ml-3 mt-3 mb-5" type="submit">Valider</button>
  </form>
</div>